.users__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.users__card {
  width: 280px;
  padding: 20px;
  box-shadow: 0 0 8px #0002, 15px 15px 15px #0001;
  line-height: 1.6;
  border-radius: 10px;
}
.users__card img {
  width: 100%;
}
.users__card h2 {
  color: dodgerblue;
}
.users__card button {
  padding: 6px 20px;
  background: crimson;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
  margin-right: 5px;
}
.users__card button:active {
  opacity: 0.7;
}
.user-panel {
  width: 400px;
  height: 300px;
  position: fixed;
  z-index: 30;
  background: #fff;
  border: 1px solid #000;
  padding: 30px;
  top: 200px;
  left: 450px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
  display: none;
}

.open {
  display: grid !important;
}
